.backdrop {
    width: 210mm;
    height: 297mm;
    padding: 1rem 2rem;
}

code {
    color: black !important;
    font-weight: 600;
}

.my-name {
    margin: 0 !important;
    text-transform: uppercase;
    letter-spacing: 1mm;
    font-size: 18pt;
    font-weight: 600;
}

.everything-end {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.everything-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.everything-center-v {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.everything-start {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.button-rounded {
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    border: 2px solid #37474f;
    color: black;
}

.underline {
    text-decoration: underline;
}

.no-underline {
    text-decoration: none;
}

.separator-dot {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 100%;
}

.w-max-content {
    width: max-content;
}

.card-body {
    padding: 0.8rem !important;
}

/* ------------------------------------------------------ */

.text-content {
    font-size: 10pt;
    line-height: normal;
}

.text-section-header {
    font-size: 10pt;
    background-color: #cfd8dc;
    padding: 0.3rem 0.8rem;
    border-radius: 10rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1mm;
    font-weight: 600;
}

ul {
    margin: 0 !important;
}